<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <instrumentation
      android:label="Generic Test Runner for com.onepeloton.studio.v3.debug"
      android:name="com.example.fragmentscenarioexperiment.ExampleTestRunner"
      android:targetPackage="com.example.fragmentscenarioexperiment"
      android:handleProfiling="false"
      android:functionalTest="false" />
</manifest>